
    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
    <table class="" *ngIf="records.length > 0">    
      <thead>    
            

          
         
        
      </thead>    
      <tbody>    
        <tr *ngFor="let record of records;let i = index;">    

          <td> <span>{{record.Employee}}</span> </td>    
          <td> <span>{{record.Initiative}}</span> </td> 
          <td> <span>{{record.Time_period}}</span> </td>   
          <td> <span>{{record.Hours_allocated}}</span> </td>   
          <td> <span>{{record.percentageAllocated}}</span> </td>    

        </tr>    
      </tbody>    
    </table>      
