
    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
   <table class="" *ngIf="recordCount > 0">     
      <thead>    
        
          <th *ngFor="let a of createRange(recordCount); let i = index">
              
              
                <select #type (change)="onSelected(type.value, i)">
                <option selected="selected" value="0">None</option>
                <option value="1">Employee</option>
                <option value="2">Initiatives</option>
                <option value="3">Time period</option>
                <option value="4">Hours allocated</option>
                <option value="5">Percentage allocated</option>
                
              </select>
            
              


            </th>
        
          
            <div class="button-row">
              <button (click) = "verifyUpload()" mat-raised-button>Upload</button>
            </div>
        
      </thead>    
      <tbody>    
        <tr *ngFor="let b of createRange(1);let i = index;">    

          <th *ngFor="let a of createRange(recordCount); let i = index;">
            <span>{{currRecord[i]}}</span>
            
            
          </th>

        

        </tr>    
      </tbody>    
     </table>  
     
